@model FavouriteQuotesApp.Entities.Quote
<h2>Add Quote</h2>
<form asp-action="Add">
    <label>Quote:</label>
    <input asp-for="Text" />
    <br />
    <br />
    <label>Author:</label>
    <input asp-for="Author" />
    <br />
    <br />
    <label>Description:</label>
    <input asp-for="Description" />
    <br /><br />
    <label>Rating:</label>
    <input asp-for="Rating" type="number" min="1" max="5" />
    <br />
    <br />
    <button type="submit">Add</button>
    <a asp-action="Items">Cancel</a>
</form>
