@model FavouriteQuotesApp.Entities.Quote
<h2>Quote Details</h2>
<p><strong>Quote:</strong> @Model.Text</p>
<p><strong>Author:</strong> @Model.Author</p>
<p><strong>Rating:</strong> @Model.Rating</p>
<a asp-action="Items">Back to the ALL QUOTES </a>

